<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.4">
	<div class="container clearfix">
		<div class="grid_2">

			image
		</div>
		<div class="grid_10 omega">
			<span id="title">
				Moises Portillo
			</span>
			<h2>Web Developer</h2>
		</div>
	</div>
</div>
<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
sdfsd
</div>

<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
sdfsd
</div>