// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixin.css.scss";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Arial, Helvetica,sans-serif; 
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
::-webkit-scrollbar {
    width: 12px;
	height: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background: rgba(188,188,188,0.8); 
    //@include rounded(6px);
}
 

::-webkit-scrollbar-thumb {
    border-top: 5px solid #fff;  
    background: #ccc -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(240, 240, 240)), to(rgb(210, 210, 210)));  
    //@include rounded(1ex);
    //-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4); 
	border:1px solid #bbb;
	height: 11px;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img{
	border:none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	cursor: pointer;
	text-decoration:none;
	color:inherit;
}

input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
textarea.error{
	@include animation;
	border-top:1px solid #fc4646 !important;
	border-bottom:1px solid #fc4646 !important;
	border-left:1px solid #fc4646 !important;
	border-right:1px solid #fc4646 !important;
	@include boxShadow(0px 1px 2px, #7C7C7C inset);
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea{
	@include animation;
	border-top:1px solid #ACACAC;
	border-bottom:1px solid #ACACAC;
	border-left:1px solid #C3C3C3;
	border-right:1px solid #C3C3C3;
	@include boxShadow(0px 1px 2px, #ADADAD inset);
	text-indent:5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus{
	outline:none;
	border: 1px solid #2D7EDB ;
	//@include boxShadow(0 0 1px, #09F !important);
	//@include boxShadow(0px 1px 2px, #09F inset);
	-webkit-box-shadow: 0 0 1px #0099ff !important,0 0 1px, #09F inset !important;
	-moz-box-shadow: 0 0 1px #0099ff !important,0 0 1px, #09F inset !important;
	box-shadow: 0 0 1px #0099ff !important,0 0 1px, #09F inset !important;
}

html,body{
	width:100%;
	min-width:980px;
	position:relative;
	background: #333333;
	color:#FFF;
}

span#title{
	display:block;
	font-family: 'Titillium Web', sans-serif;
	font-weight:bold;
	font-size:76px;
	@include textShadow(1px 1px 4px, #777);
}
div.slide{
	width:100%;
	//max-width:980px;
}
#slide1{
	background:transparent url('/assets/back_1_15.jpg') no-repeat;
	min-height:400px;
	background-size: cover;
}

#slide2{
	background-image:url('/assets/footprints.png');
	background-color:#f68f67;
	color:#ffffff;
	height:700px;
}
#slide3{
	background:transparent url('/assets/back_2_30.jpg') no-repeat;
	min-height:600px;
	color:#ffffff;
}
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide2 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}








